
    .border-bottom{
        border-bottom: 1px solid #EDEDED !important;
    }
    .border-radius-0{
        border-radius: 0px;
    }
    .border-left-6D6D6D{
        border-left: 1px solid #EDEDED !important;
    }
