.btn-outline-gray {
    font-family: RubikRegular !important;
    margin-right: 12px !important;
    border: 1px solid #27304C !important;
    color: #27304C !important;
    border-radius: 2px !important;
}

.btn-outline-gray:hover {
    background-color: #eee !important;
}

.btn-outline-blue {
    border: 1px solid #2C91FF !important;
    color: #2C91FF !important;
    font-weight: 500 !important;
    font-size: 12px !important;
    font-family: RubikRegular !important;
    border-radius: 3px !important;
}

.btn-outline-blue:hover {
    background-color: #2C91FF !important;
    color: white !important;
}

.btn-outline-green {
    border: 1px solid #00B600 !important;
    color: #00B600 !important;
    font-weight: 500 !important;
    font-size: 12px !important;
    font-family: RubikRegular !important;
    border-radius: 3px !important;
}

.btn-outline-green:hover {
    background-color: #00B600 !important;
    color: white !important;
}


.btn-outline-red {
    border: 1px solid #FF4949 !important;
    color: #FF4949 !important;
    font-weight: 500 !important;
    font-size: 12px !important;
    font-family: RubikRegular !important;
    border-radius: 3px !important;
}

.btn-outline-red:hover {
    background-color: #ffd9d9 !important;
}

.btn-red {
    background: #FF4949 !important;
    border-color: #FF4949 !important;
    border-radius: 2px;
}

.btn-red:hover {
    background-color: #9f3333 !important;
}

.btn-save-changes {
    border: 1px solid #2C91FF !important;
    background: #2C91FF !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    font-family: RubikRegular !important;
    border-radius: 3px !important;
}

.btn-cancel {
    font-weight: 500 !important;
    font-size: 14px !important;
    font-family: RubikRegular !important;
    margin-right: 12px !important;
}

.btn-custom-blue {
    background: #2C91FF !important;
    border-color: #2C91FF !important;
    border-radius: 2px;

}

.btn-sky-blue {
    background: #E3F1FF !important;
    border-color: #E3F1FF !important;
    border-radius: 2px;
}

.btn-sky-blue:hover {
    background: #2C91FF !important;
}

.btn-custom-green {
    background: #00B600 !important;
    border-color: #00B600 !important;
    border-radius: 2px !important;
}

.btn-custom-green:hover {
    background: #218221 !important;
}

.btn-dark-green {
    background: #439243;
    border-color: #439243;
    border-radius: 2px;
}

.btn-dark-green:hover {
    background: #00B600 !important;
}

.btn-white {
    background: #FFFFFF;
    border-color: #FFFFFF;
    border-radius: 2px;
}

.btn-white:hover {
    background: #eee !important;
    border-color: #eee;
}

.btn-outline-white {
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
}

.btn-outline-white:hover {
    background: transparent;
    border: 1px solid #ccc !important;
}

.btn-alert {
    width: 114px;
    height: 40px;
    font-weight: 500 !important;
    font-size: 14px !important;
    font-family: RubikRegular;
    margin-top: -15px;
}

.btn-add-order {
    justify-content: center;
    align-items: center;
    width: 105px;
    border-radius: 2px !important;
    font-weight: 500 !important;
    font-size: 12px !important;
    color: white !important;
    font-family: RubikRegular;
}

.btn-interview {
    justify-content: center;
    align-items: center;
    width: 87px;
    border-radius: 2px !important;
    font-weight: 500 !important;
    font-size: 12px !important;
    color: white !important;
    font-family: RubikRegular;
}

.btn-outline-orange {
    background: #FFF2E3;
    border: 1px solid #FF9A2C;
    border-radius: 100px;
    padding: 0px 8px;
    /* padding-bottom: 1px; */
    color: #FF9A2C;
    font-weight: 400;
    font-size: 12px;
    font-family: RubikRegular;
}

.custom-pagination .page-link:not(.border-0) {
    border-radius: 50px !important;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 35px;
    font-family: 'RubikRegular';
    font-style: normal;
    color: #8C8C8C;
}

.custom-pagination .active {
    color: white !important;
    background: #2C91FF;
}

.btn-print {
    background: #2C91FF !important;
    border-radius: 2px;
    padding:9px, 16px, 9px, 16px;
    height: 40px;
    margin-bottom: 3px;
    font-family: 'RubikRegular';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    gap: 8px;
    width: 94px;

}


