.card-yello-green{
    border-color:#00B600;
    background: #E0F9E0;
    border-radius: 4px;
}
.card-sky-blue{
    border-color:#2C91FF;
    background: #E3F1FF;
    border-radius: 4px;
}
.card-sky-orange{
    border-color:#FFC700;
    background: #FFF8DE;
    border-radius: 4px;
}
.card-sky-white{
    border-color:#EDEDED;
    background: #FFFFFF;
    border-radius: 4px;
}


/* Badge */

.badge-red{
    background: #FF4949;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    padding: 3px 10px;
    color:white;
    font-size: 12px;
    height: 24px;
}
.badge-blue{
    background: #2C91FF;
    border-radius: 22px;
    justify-content: center;
    align-items: center;
    padding: 3px 10px;
    gap: 10px;      
    height: 24px;
    color:white;
    font-family: RubikRegular;
    font-weight: 500;
}
.badge-orange{
    background: #FF9A2C;
    border-radius: 22px;
    justify-content: center;
    align-items: center;
    padding: 3px 10px;
    gap: 10px;      
    height: 24px;
    color:white;
    font-family: RubikRegular;
    font-weight: 500;
}
.topnav {
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #8C8C8C;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'RubikRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    border-bottom: 3px solid transparent;
}

.topnav a:hover {
  border-bottom: 3px solid #2C91FF;
}
.topnav a.active {
    border-bottom: 3px solid #2C91FF;
}
.topnav .active-tab-menu{
    color: #2C91FF !important;
    font-family: 'RubikMedium' !important;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    border-bottom: 3px solid #2C91FF;
}