.p-14{
    padding:14px;
}    
.p-6{
    padding:6px;
}   
.p-16{
    padding:16px;
}  

.p-r-10{
    padding-right: 13px;
}

.p-x-12{
    padding-left: 12px;
    padding-right: 12px;
}
.p-x-2{
    padding-left: 2px;
    padding-right: 2px;
}
.p-y-4{
    padding-top: 4px;
    padding-bottom: 4px;
}
.p-y-14{
    padding-top: 14px;
    padding-bottom: 14px;
}
.p-y-24{
    padding-top: 24px;
    padding-bottom: 24px;
}
.p-b-80{
    padding-bottom: 80px;
}
.p-t-40{
    padding-top: 40px;
}
.p-x-10{
    padding: 10px;
}
.padding-18{
    padding: 18px !important;
}
.p-b-10{
    padding-bottom: 10px;
}
.p-l-14{
    padding-left:14px;
}
.p-r-14{
    padding-right:14px;
}

.p-b-14{
    padding-bottom: 14px;
}

.p-t-14{
    padding-top:14px;
}
.p-t-24{
    padding-top:24px;
}

.p-r-4{
    padding-right: 4px;
}
.p-b-6{
    padding-bottom: 6px;
}

.p-t-12{
    padding-top:12px;
}
.p-y-f-0{
    padding-top:0px !important;
    padding-bottom:0px !important;
}

.p-t-8{
    padding-top:8px;
}
.p-t-6{
    padding-top:6px;
}
.w-260{
    width: 260.8px;
}


.p-t-6{
    padding-top:6px;
}
.padding-top-24{
    padding-top:24px;
}
.w-120{
    width: 120px;
}
.p-0-force{
    padding:0px !important;
}


.m-t-n-20{
    margin-top:-20px;
}
.m-t-38{
    margin-top:38px;
}
.m-t-52{
    margin-top:52px;
}
.m-t-105{
    margin-top:105px;
}
.m-t-24{
    margin-top:24px;
}
.m-t-46{
    margin-top:46px;
}
.m-t-7{
    margin-top:7px;
}


.m-right-8{
    margin-right: 8px;
}
.m-bottom-8{
    margin-bottom: 8px;
}
.m-bottom-14{
    margin-bottom: 14px;
}
.m-b-15{
    margin-bottom: 15px;
}

/* width */

.w-31{
    max-width: 31px;
}
.w-38{
    max-width: 38px;
}
.w-60{
    max-width: 60px;
}
.w-70{
    max-width: 70px;
    width: 70px;
}
.w-85{
    max-width: 85px;
}
.w-95{
    max-width: 95px;
}
.w-110{
    max-width: 110px;
}
.w-118{
    max-width: 118px;
}
.w-300{
    width: 300px;
}
.w-378{
    width: 378.33px;
}
.w-420{
    width: 420px;
}
.w-296{
    width: 286px;
}
.w-162{
    width : 162px
}
.w-835{
    width: 835px;
}
