 /* Begin popup over */
 .form-check-label.quickSched{
    color: #2C91FF;
    font-weight: 600;
    font-size: 14px;
    padding-left:6px;
    margin-top:-3px;
}
.form-check-label.custoDateTime{
    color: #27304C;
    font-weight: 600;
    font-size: 14px;
    padding-left:6px;
    margin-top:-3px;
}
.sched-interview-popup-over .form-check{
    padding-left: 0px;
    
}   
.sched-interview-popup-over .normal-radio, .sched-interview-popup-over .normal-check-box{
    accent-color: #2C91FF;
    -ms-transform: scale(1.4); /* IE 9 */
    -webkit-transform: scale(1.4); /* Chrome, Safari, Opera */
    transform: scale(1.4);
}

.pick-a-sched{
    font-weight: 600;
    font-size: 16px;
    color: #27304C;
    opacity: 0.8;
}
.sched-interview-popup-over{
    width: 524px !important;
    --bs-popover-max-width: 524px !important;
    font-family: RubikLight !important;
    box-shadow: 0 0.3rem 1rem rgb(0 0 0 / 15%);
    /* left: -213px !important; */
    border-radius: unset !important;
    border:1px solid #ccc;
    z-index:0;
    position: absolute;
}
.popupHead{
    padding: 8px 14px 8px 14px;
    border-bottom: 1px solid #DCDCDC;
    font-weight: 600;
    font-size: 18px;
    color: #2C91FF;
}
.popupSubHead{
    padding: 8px 14px 8px 14px;
    border-bottom: 1px solid #DCDCDC;
    font-weight: 600;
    font-size: 14px;
    font-family: RubikRegular;
}
.popupSubHead div{
    margin: 3px;
    border:1px solid #DCDCDC;
    padding:8px;
    border-radius: 3px;
}

.popupFooter{
    padding: 8px 14px 8px 14px;
    border-top: 1px solid #DCDCDC;
    color: #2C91FF;
}

.sched-interview-popup-over .btn-custom-outline-blue{
    border: 1px solid #2C91FF !important;
    color: #2C91FF !important;
    font-weight: 500 !important;
    font-size: 12px !important;
    font-family: RubikMedium !important;
    border-radius: 3px !important;
}
.sched-interview-popup-over .btn-custom-outline-blue:hover{
    background-color: #2C91FF !important;
    color: white !important;
}



.arrow-popup:before, .arrow-popup:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 100%;
    width: 0;
    height: 0;
  }
  .arrow-popup:before {
    right: 24px;
    border: 11px solid transparent;
    border-bottom-color: #ddd;
  }
  .arrow-popup:after {
    right: 25px;
    border: 10px solid transparent;
    border-bottom-color: #fff;
  }
/* End popup over */